@model String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GrowthOfWealth</title>
</head>
<body>
<div>
    
    <img src="@Url.Action("GrowthOfWealthColumn", routeValues: new { portfolioId = Model})" alt="Chart" /> 
    
    <img src="@Url.Action("GrowthOfWealthLine", routeValues: new { portfolioId = Model})" alt="Chart" /> 
    
    <img src="@Url.Action("GrowthOfWealthRenko", routeValues: new { portfolioId = Model})" alt="Chart" /> 
    
    <img src="@Url.Action("GrowthOfWealthSpline", routeValues: new { portfolioId = Model})" alt="Chart" /> 
</div>
</body>
</html>
